body {
    font-family: Arial, sans-serif;
}

h2 {
    font-weight: bold;
    color: #2c3e50;
}

ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: "✔ ";
    color: #007bff;
}
.hero-section {
  background-color: #111; 
  color: white;
  padding: 60px 20px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 280px;
}

.hero-text h1, .hero-text h2 {
  margin: 0;
}

.hero-text h2 {
  color: #00cfff;
  font-size: 2rem;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.highlight {
  color: #00cfff;
}

.role {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.social-icons a img {
  width: 30px;
  margin-right: 10px;
}

.hero-buttons .btn {
  margin-top: 10px;
}

.hero-image{
    width: 20px;
    height: 20px;
    display: flex;
}





